{% extends 'base.html' %}

{% block 'content' %}

    <div class="flex p-4">
        <div class="w-1/6">
            {% include 'sidebar/brandSidebar.html' %}
        </div>
        <div class="grid p-5 lg:grid-cols-4 gap-6 md:grid-cols-3 sm:grid-cols-2 w-5/6">
            {% for pro in product %}
            <div class="border  hover:shadow-2xl shadow-slate rounded-2xl" title='{{pro.name}}'>
                <div class="flex flex-col">
                    <img src="{{pro.image.url}}" class="h-60 w-full rounded-t-2xl" alt="">
                    <div class="p-5 grid gap-1">
                        <h1 class="truncate font-semibold">{{pro.brand}}</h1>
                        <h1 class="truncate text-sm font-thin">{{pro.name}}</h1>
                        <h1 class="truncate text-lg">₹{{pro.price}} -<del class="text-sm mx-1 text-red-500">-{{pro.discount_price}}</del></h1>
                        <hr>
                        <div class=" text-white mt-2 flex just gap-2 text-center">
                            <a href="" class="p-2 rounded-lg w-1/2 bg-red-500">Add to card</a>
                            <a href="{% url 'productView' pro.slug %}" class="p-2 rounded-lg w-1/2 bg-green-500">Buy now</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <h1>not found any product</h1>
            {% endfor %}
            
        </div>
    </div>

{% endblock  %}